<settings>
  <servers>
    <server>
      <id>jfrog</id>
      <username>${jfrog.user}</username>
      <password>${jfrog.password}</password>
    </server>
    <server>
      <id>qd</id>
      <username>${nexus.user}</username>
      <password>${nexus.password}</password>
    </server>
    <server>
      <id>qd-snapshot</id>
      <username>${nexus.user}</username>
      <password>${nexus.password}</password>
    </server>
    <server>
      <id>dxfeed-api</id>
      <username>${nexus.user}</username>
      <password>${nexus.password}</password>
    </server>
    <server>
      <id>mdd</id>
      <username>${nexus.user}</username>
      <password>${nexus.password}</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>Nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>https://nexus.in.devexperts.com/repository/public</url>
    </mirror>
  </mirrors>
</settings>
