<settings>
  <servers>
    <server>
      <id>jfrog</id>
      <username>${jfrog.user}</username>
      <password>${jfrog.password}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>linux</id>
      <activation>
        <os>
          <family>unix</family>
        </os>
      </activation>
      <properties>
        <deploy.dir>/mnt/projects/mdd/DXFG/Release/${project.version}</deploy.dir>
      </properties>
    </profile>
    <profile>
      <id>mac</id>
      <activation>
        <os>
          <family>mac</family>
        </os>
      </activation>
      <properties>
        <deploy.dir>/Volumes/Projects/mdd/DXFG/Release/${project.version}</deploy.dir>
      </properties>
    </profile>
    <profile>
      <id>windows</id>
      <activation>
        <os>
          <family>windows</family>
        </os>
      </activation>
      <properties>
        <deploy.dir>\\jazz.in.devexperts.com\Projects\mdd\DXFG\Release\${project.version}</deploy.dir>
      </properties>
    </profile>
  </profiles>
</settings>
