<settings>
  <servers>
    <server>
      <id>qd</id>
      <username>${qd.user}</username>
      <password>${qd.password}</password>
    </server>
    <server>
      <id>qd-snapshot</id>
      <username>${qd.user}</username>
      <password>${qd.password}</password>
    </server>
  </servers>
</settings>
